* {
  font-family: "Inconsolata Nerd Font", monospace;
  font-size: 14px;
}

window {
  border: 1px solid --wofi-color22;
  border-radius: 16px;
  background-color: --wofi-color23;
}

#entry {
  color: --wofi-color14;
}

#outer-box {
  padding: 16px;
}

#input {
  background-color: --wofi-color24;
  border: 2px solid --wofi-color22;
  color: --wofi-color14;
  margin-bottom: 16px;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s;
}

#input:focus {
  border-color: --wofi-color13;
  box-shadow: 0 0 2px --wofi-color13;
}

#entry:selected,
#entry:selected #text {
  color: --wofi-color8;
}

#entry:selected {
  background-color: inherit;
  outline: none;
}

#entry #entry {
  background-color: --wofi-color22;
}

#entry #entry #text {
  color: --wofi-color15;
}
