$fonts: (
  material: "Material Icons",
  monospace: "Terminess Nerd Font Mono",
  sans: "Open Sans",
);

$font-sizes: (
  xs: 16px,
  sm: 18px,
  md: 20px,
  lg: 22px,
  xl: 24px,
);

@each $name, $font in $fonts {
  .font-#{$name} {
    font-family: $font;
  }
}

@each $name, $size in $font-sizes {
  .font-size-#{$name} {
    font-size: $size;
  }
}
