$padding-sizes: (
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
);

@each $name, $padding in $padding-sizes {
  .p-#{$name} {
    padding: $padding;
  }

  .px-#{$name} {
    padding-left: $padding;
    padding-right: $padding;
  }

  .py-#{$name} {
    padding-top: $padding;
    padding-bottom: $padding;
  }

  .pt-#{$name} {
    padding-top: $padding;
  }

  .pb-#{$name} {
    padding-bottom: $padding;
  }

  .pl-#{$name} {
    padding-left: $padding;
  }

  .pr-#{$name} {
    padding-right: $padding;
  }
}
